//Orienting graphs
.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.flex-item {
    width: 50%;
    margin-bottom: 10px;
    
}

//Title styling
h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: #7151c1;
}

h2 {
    text-align: center;
    font-size: 25px;
    color: #5a67d8;
    margin-bottom: 2px;
    margin-top: 10px;
}

h3 {
    text-align: center;
    font-size: 20px;
    color: #4c51bf;
}

//Overarching styling
body {
    font-family: 'Arial', sans-serif;
    background-color: #e2e8f0;
    color: #2d3748;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}


//Corellation styling 

.correlation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px; 
    border: 1px solid #666;
    background: linear-gradient(45deg, #a1c4fd, #c2e9fb);
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px; 
    margin-top: auto; 
    width: 100%; 
}

#correlation-output {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 90%; 
}


#calculate-correlation {
    background: linear-gradient(45deg, #9ba2aa, #c2e9fb);
    color: #333;
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s, transform 0.3s;
}

#calculate-correlation:hover {
    background: linear-gradient(45deg, #c2e9fb, #a1c4fd);
    transform: scale(1.05);
}

#calculate-correlation:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}


//SVG Styles
svg {
    background-color: #edf2f7;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    height: 500px;
}

#tooltip {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    fill: #482d2d;
    position: absolute;
    display: none;
    background: #ffffff;
    border: 1px solid #ffffff;
    pointer-events: none;
    opacity: 1;
}

//Axis Styles
g.axis {
    color: #4a5568;
}

g.axis text {
    font-size: 12px;
}

g.axis path,
g.axis line {
    stroke: #4a5568;
    shape-rendering: crispEdges;
}

//Input Styling 
.ticker-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    background: linear-gradient(45deg, #e2e8f0, #7e8e9e);
    border: #355374;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-top: 15px;
}


.ticker-background label {
    flex: 0 0 auto;
    font-size: 18px;
    color: #5a67d8;
    margin-right: 10px;
}

.ticker-background input {
    flex: 1 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.input-group label {
    white-space: nowrap;
}

.input-group input[type="text"] {
    box-sizing: border-box;
    flex-grow: 1;
    width: auto;
    padding: 5px;
    border: 1px solid #04254f;
    border-radius: 5px;
}

input[type="text"]:focus {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #5a67d8;
    outline: none;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4a5568;
}

//News
.news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: #5a67d8;
    width: 500px;
    overflow: auto; 
}

.news-section h2 {
    text-align: center;
    font-size: 25px;
    color: #4c51bf;
    margin-bottom: 2px;
    border-bottom: 2px solid #4c51bf;
    padding-bottom: 5px;
    width: fit-content;
}

//Social Icon Styling 
.link-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-size: contain; 
}

.link-icon + .link-icon {
    margin-left: 100px;
}

// Modal Styles 
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefcc9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  }
  
  .close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  //Header styling 

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}