//Orienting graphs
.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.flex-item {
    width: 50%;
    margin: 10%;
    margin-top: 5%; 
}

//Title styling
h1 {
    text-align: center;
    font-size: 30px;     
    margin-bottom: 10px;  
    color: #7151c1;
}

h2 {
    text-align: center;
    font-size: 25px;
    color: #a1c4fd;
    margin-bottom: 2px;
}

h3 {
    text-align: center;
    font-size: 20px;
    color: #a1c4fd;
}

//Overarching styling

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


//Corellation styling 

.correlation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px; 
    border: 1px solid #666;
    background: linear-gradient(45deg, #a1c4fd, #c2e9fb);
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px; 
    margin-top: 20px; 
}

#correlation-output {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

#calculate-correlation {
    background: linear-gradient(45deg, #9ba2aa, #c2e9fb);
    color: #333;
    padding: 10px 20px;
    margin-right: 20px;
    border: #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s, transform 0.3s;
}

#calculate-correlation:hover {
    background: linear-gradient(45deg, #c2e9fb, #a1c4fd);
    transform: scale(1.05);
}

#calculate-correlation:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}


//SVG Styles
svg {
    background-color: #f7f5f5;
    opacity: 0.5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#tooltip {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    fill: #333;
}

//Axis Styles
g.axis {
    color: #666;
}

g.axis text {
    font-size: 12px;
}

g.axis path,
g.axis line {
    stroke: #666;
    shape-rendering: crispEdges;
}

//Input Styling 

input[type="text"] {
    padding: 8px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

input[type="text"]:focus {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #7151c1;
    outline: none;
}


