//Orienting graphs
.flex-container {
    display: flex;
    justify-content: space-between; /* changed from space-evenly */
    gap: 2%;
}

.flex-item {
    width: 49%;  /* adjust the width */
    margin: 0 1%;  /* adjust margin */
    box-sizing: border-box;  /* new addition */
}

//Title styling
h1 {
    text-align: center;
    font-size: 30px;     
    margin-bottom: 10px;  
    color: #7151c1;
}

h2 {
    text-align: center;
    font-size: 25px;
    color: #a1c4fd;
    margin-bottom: 2px;
}

h3 {
    text-align: center;
    font-size: 20px;
    color: #a1c4fd;
}

//Overarching styling

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;   /* change from center to flex-start */
    /* height: 100vh; */      /* remove or comment out this line */
    padding-top: 20px;        /* optional: add some spacing on top */
}


//Corellation styling 

.correlation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px; 
    border: 1px solid #666;
    background: linear-gradient(45deg, #a1c4fd, #c2e9fb);
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px; 
    margin-top: auto; 
    width: 100%; 
}

#correlation-output {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 90%; 
}


#calculate-correlation {
    background: linear-gradient(45deg, #9ba2aa, #c2e9fb);
    color: #333;
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s, transform 0.3s;
}

#calculate-correlation:hover {
    background: linear-gradient(45deg, #c2e9fb, #a1c4fd);
    transform: scale(1.05);
}

#calculate-correlation:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}


//SVG Styles
svg {
    background-color: #f7f5f5;
    opacity: 1; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;  /* adjust to fit container */
    height: 500px; 
}


#tooltip {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    fill: #504f4f;
    position: absolute; 
    display: none;      
    background: gray;   
    border: 1px solid black; 
    pointer-events: none;    
    opacity: 1;            
}

//Axis Styles
g.axis {
    color: #666;
}

g.axis text {
    font-size: 12px;
}

g.axis path,
g.axis line {
    stroke: #666;
    shape-rendering: crispEdges;
}

//Input Styling 

/* Styles for the background for the label and input */
.ticker-background {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f7f5f5; /* matching the SVG background */
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group label {
    white-space: nowrap; /* Ensures that the label doesn't break into multiple lines */
    flex: none; /* Overrides the previous flex property to avoid pushing the input */
    margin-right: 10px;
}

.input-group input[type="text"] {
    flex-grow: 1; /* allows the input to grow and take available space */
    width: auto;  /* overrides the width to be auto */
}


input[type="text"]:focus {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #7151c1;
    outline: none;
}

label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
    color: #333; 
}

//News

.news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.news-section h2 {
    text-align: center;
    font-size: 25px;
    color: #a1c4fd;
    margin-bottom: 2px;
    border-bottom: 2px solid #a1c4fd;
    padding-bottom: 5px;
    width: fit-content;
    // text-decoration: underline;
}

